
{{> head }}
{{> navbar }}

    <div class="row">

        <div class="col-8">

            <h1>Amazon</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, ut? Non sunt quidem veritatis cumque qui distinctio sapiente. Ipsa natus aliquid debitis dicta neque eum laudantium repellendus illo veniam sequi!
            </p>

        </div>

        <div class="col-4">

            <img src="assets/img/amazon-logo.jpg" class="img-thumbnail">

        </div>

    </div>
    
{{> footer }}